.main {
    background-color: rgb(252, 244, 244);
    padding-top: 120px;
    height: 100vh;

    .main-header {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        .reset-filters {
            margin-top: 20px;
        }
    }


    .container {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    width: 80%;
    margin: 0 auto;
    }
}
