.auth {
  width: 24%;
  display: flex;
  justify-content: center;
  min-height: 300px;
  margin: auto auto;

  .container {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);

    .btn {
      width: 100%;
      margin-top: 20px;
    }
    
    .block-agreement {
      margin-top: 40px;
    }
  }
}
